/* .tsParticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -1; /* Sends it behind your main content 
  pointer-events: none; /* Optional: allows clicks to pass through 
} */

.tsParticles {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100dvh !important;
  width: 100vw !important;
  z-index: 0 !important;
  pointer-events: none;
  overflow: hidden;
}
